.Login {
  &-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-MainHeading {
    text-align: center;
  }

  &-Stack {
    min-width: 400px;
  }

  &-Input {
    padding: 5px;
  }

  &-Btn {
    margin-top: 10px;
  }
}

@media (max-width: 766px) {
  .Login-Stack {
    min-width: 300px;
  }
}
